<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemLoadTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SystemLoadTracker.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FixedWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowMainWindowBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowCornerRadius" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SettingsWindowCornerRadius" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="CpuColor" serializeAs="String">
                <value>92, 180, 190</value>
            </setting>
            <setting name="GpuColor" serializeAs="String">
                <value>61, 181, 107</value>
            </setting>
        </SystemLoadTracker.Properties.Settings>
    </userSettings>
</configuration>